.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 50px;

}

.footer ul {
    list-style-type: none;
    width: 45%;
    margin: auto;
}

.footer ul i {
    font-size: 15px;
    color: yellow;
}