* {
    margin: 0;
    padding: 0;
}

.box1 {
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    width: 65%;
    height: 100%;
    background-image: url(../Images/anh_nen.jpg);
    background-size: cover;
}

.box1 h1 {
    text-align: center;
    padding-top: 100px;
}

.box2 {
    position: absolute;
    right: 0;
    float: right;
    width: 35%;
    text-align: center;
    margin-top: 20%;

}

.box2 a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    padding: 10px;
    background-color: rgb(235, 235, 38);
}

.box2 a:hover {
    background-color: yellow;
}