.product {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.product div {
    padding: 5px;
    border: 1px solid black;
    width: 200px;
    margin-top: 70px;
}

.product p {
    position: relative;
    bottom: 0;
    left: auto;
}

img {
    width: 200px;
    height: auto;
    border: 1px solid black;
}